body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1em;
}
nav ul,
nav li {
  display: contents;
}
nav {
  display: flex;
}
nav a {
  flex: 1;
}
/* STEP 2.3: Style nav links */
nav a {
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}

/* Add spacing + divider */
nav {
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

/* STEP 2.4: Accent color + hover */
:root {
  --color-accent: oklch(65% 50% 0);
}

nav a:hover {
  border-bottom: 0.3em solid var(--color-accent);
}

/* STEP 3: Form styling */
input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
